<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="html_head" id="html_head" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
    >
    <meta charset="UTF-8">
    <title>Leaving System</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
    <div th:fragment="menu" id="menu">
        <nav class="navbar">
            <a th:href="@{/staff/viewLeave}">Leave System</a>
            <a th:href="@{/}">Home</a>
            <a th:href="@{/}">About</a>

            <!-- you need write validation -->
            <div>
                <div class="subnav">
                    <button class="subnavbtn">Manager Menu <i class="fa fa-caret-down"></i></button>
                    <div class="subnav-content">
                        <a>1</a>
                        <a>2</a>
                    </div>
                </div>
            </div>

            <!-- you need write validation -->
            <div>
                <div class="subnav">
                    <button class="subnavbtn">Staff Menu <i class="fa fa-caret-down"></i></button>
                    <div class="subnav-content">
                        <a>1</a>
                        <a>2</a>
                    </div>
                </div>
            </div>

            <!-- you need write validation -->
            <div>
                <div class="subnav">
                    <button class="subnavbtn">Admin Menu <i class="fa fa-caret-down"></i></button>
                    <div class="subnav-content">
                        <a th:href="@{/admin/leavetype/list}" 
                        th:utext="#{menu.admin.leavetypelist}">Manage LeaveType</a>
                        <a th:href="@{/admin/employee/list}"
                        th:utext="#{menu.admin.emplist}">Manage Employee</a>
                        <a th:href="@{/admin/user/list}"
                        th:utext="#{menu.admin.ulist}">Manage User</a>
                    </div>
                </div>
            </div>
            <a th:href="@{/logout}">Logout</a>
        </nav>
    </div>

    <!-- you need to write some validation -->
    <div th:fragment="header">
    </div>


    <div th:fragment="footer">
        &copy; 2022 Footer
    </div>
</body>

</html>