<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: html_head" />
<body>
    <div th:replace="fragments/layout.html :: header" />
    <div th:replace="fragments/layout.html :: menu" />
    
    <h3>Compensational Leave Claiming Form</h3>
    
    <form action="#" th:action="@{/staff/compensation/claimLeave}"
        th:object="${compensation}" method="post">

        <table class="framed" >
           
            <tr>
                <th>OT Start Time</th>
                <td><input type="datetime-local" th:field="*{OTstartTime}" /></td>
                <td th:if="${#fields.hasErrors('OTstartTime')}" th:errors="*{OTstartTime}"></td>
            </tr>

            <tr>
                <th>OT End Time</th>
                <td><input type="datetime-local" th:field="*{OTendTime}" /></td>
                <td th:if="${#fields.hasErrors('OTendTime')}" th:errors="*{OTendTime}"></td>
            </tr>

            <tr>
                <th>Description</th>
                <td><textarea maxlength="200" type="uText" th:field="*{description}" placeholder="Please write your description here"/></textarea>
                <td th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></td>
            </tr>
            
            <tr><td>
                <input type="submit" value="Create" class="blcass" />
                <input type="reset" value="Reset" class="blcass" />
            </td></tr>
            
        </table>

    </form>

    <div th:replace="fragments/layout.html :: footer" />
</body>
</html>