<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout.html :: html_head" />
<body>
    <div th:replace="fragments/layout.html :: header" />
    <div th:replace="fragments/layout.html :: menu" />
    <h3>Compensational Leave Claiming Form</h3>
    
    <form action="#" th:action="@{/staff/claimLeave}"
        th:object="${compensation}" method="post">

        <table class="framed" >
           
            <tr>
                <th>OT Start Time</th>
                <td><input type="datetime-local" th:field="*{OTstartTime}" /></td>
                <!-- <td th:if="${#fields.hasErrors('toDate')}" th:errors="*{toDate}"></td> -->
            </tr>

            <tr>
                <th>OT End Time</th>
                <td><input type="datetime-local" th:field="*{OTendTime}" /></td>
                <!-- <td th:if="${#fields.hasErrors('toDate')}" th:errors="*{toDate}"></td> -->
            </tr>

            <tr><td>
                <input type="submit" value="Create" class="blcass" />
                <input type="reset" value="Reset" class="blcass" />
            </td></tr>
            
        </table>

    </form>

    <div th:replace="fragments/layout.html :: footer" />
</body>
</html>