<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <link th:rel="stylesheet" th:href="@{assets/bootstrap-datepicker/css/bootstrap-datepicker.css}"/>
    <link th:rel="stylesheet" th:href="@{assets/bootstrap-datepicker/css/bootstrap-datepicker.standalone.css}"/>
<head th:replace="fragments/layout.html :: html_head" />
<body>
    <div th:replace="fragments/layout.html :: header" />
    <div th:replace="fragments/layout.html :: menu" />
    <h3>Compensational Leave Claiming Form</h3>
    
    <form action="#" th:action="@{/staff/claimLeave}"
        th:object="${compen}" method="post">

        <table class="framed" >
           
            <tr>
                <th>OT Start Time</th>
                <td><input type="datetime-local" th:field="*{startTime}" /></td>
                <!-- <td th:if="${#fields.hasErrors('toDate')}" th:errors="*{toDate}"></td> -->
            </tr>

            <tr>
                <th>OT End Time</th>
                <td><input type="datetime-local" th:field="*{endTime}" /></td>
                <!-- <td th:if="${#fields.hasErrors('toDate')}" th:errors="*{toDate}"></td> -->
            </tr>

            <!-- <tr>
                <th>Test Text</th>
                <td><input type="text" th:field="*{kaung}" /></td>
                
            </tr> -->

            <tr><td>
                <input type="submit" value="Create" class="blcass" />
                <input type="reset" value="Reset" class="blcass" />
            </td></tr>
            
        </table>

    </form>

    <!-- <script>
        $('.input-group.date').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: 'dd/MM/yyyy hh:mm a'
        });
    </script> -->



    <div th:replace="fragments/layout.html :: footer" />
</body>
</html>