<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: html_head" />


<style>

    #main {
      display: flex;
      justify-content: center;
      padding-top: 2%;
    }
      </style>

<body onload="set_time()">
    <div th:replace="fragments/layout.html :: header" />
    <div th:replace="fragments/layout.html :: menu" />
    
    <div class = "container">
        <div class = "row">
            <div class = "col-lg-6 col-sm-6 container justify-content-center card">
                <div id="main">
                    <h4>Leave Application Form</h4>
                </div>
                
                    <div>
                    <table class="table4">
                    <form th:action="@{/staff/leave/submitLeave}" th:object="${leave}" method="post">

 
                        <tr>
                            <th>Start Date</th>
                                <td><input type="date" id="takeLeaveStartDate" name= startDate th:field="*{startDate}" placeholder="Choose Start Date" />
                                <script type="text/javascript">takeLeaveStartDate.min=new Date().toISOString().split("T")[0];</script></td>                
                            </td>
                        </tr>

                        <tr>
                            <td></td>
                            <td style='color:red'><span th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></span>
                            </td>
                          
                        </tr>

   
                        <tr>
                            <th>End Date</th>
                            <td><input type="date" id="takeLeaveEndDate" name= endDate th:field="*{endDate}" class="form-control" placeholder="Choose End Date"/>
                                <script type="text/javascript">takeLeaveEndDate.min=new Date().toISOString().split("T")[0];</script></td> 
                        
                        </tr>

                        <tr>
                            <td></td>
                            <td style='color:red'><span th:if="${#fields.hasErrors('endDate')}"
                                th:errors="*{endDate}"></span>
                              </td>  

                        </tr>



                        <tr>
                            <th>Leave Type</th>
                            <td><select th:field="*{leaveType}" class="form-control" >
                                    <option value="ANNUAL" th:text="ANNUAL"></option>
                                    <option value="MEDICAL" th:text="MEDICAL"></option>
                                    <option value="COMPENSATION" th:text="COMPENSATION"></option>
                                </select> </td> 
                        </tr>

          

                        <tr>
                            <th>Reason</th>
                            <td><textarea lass="form-control" name= reason th:field="*{reason}">Please Enter Your Reason</textarea></td> 
                           
                        </tr>

                        <tr>
                            <td></td>
                            <td style='color:red'><span th:if="${#fields.hasErrors('reason')}"
                                th:errors="*{reason}"></span>
                             </td>   

                        </tr>
             

                        
                        <tr>
                            <td></td>
                            <td>
                                <button type="submit" class = "btn btn-primary btn-sm">Submit</button>
                            </td>                      
                        </tr>

                        <tr>
                            <td></td>
                        </tr>


                    </form>
                </table>

                <br>
                </br>

                <div style="text-align: center;">
                    <button type="submit" value="Back" onclick="history.back()">Back</button>
                </div>

                </div>
            </div>
        </div>

    <script>

        var myDate = document.getElementById('takeLeaveStartDate');
        var myDate2 = document.getElementById("takeLeaveEndDate");
        myDate.valueAsDate=new Date();

        function set_time(){
           myDate2.setAttribute("min",myDate.value);
        }
        
        myDate.onchange = function(){
            var x = this.value;
            myDate2.setAttribute("min", x);
        }
    </script>

</body>



</html>

