<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">>   
<head th:replace="fragments/layout.html :: html_head" />
<body>
    <div th:replace="fragments/layout.html :: header" />
    <div th:replace="fragments/layout.html :: menu" />
    
    <div class = "container">
        <div class = "row">
            <div class = "col-lg-6 col-sm-6 container justify-content-center card">
                <h2>Leave Application Form</h2>
                <div class = "card-body">
                    <form th:action="@{/staff/leave/submitLeave}" th:object="${leave}" method="post">

                        <div class="form-group" hidden>
                            <label> Leave ID : </label>
                            <input type="text" name= leaveId th:field="*{leaveId}" class="form-control" readonly/>
                        </div>

                        <div class="form-group">
                            <label> Start Date : </label>
                            <input type="date" id="takeLeaveStartDate" name= startDate th:field="*{startDate}" class="form-control" placeholder="Choose Start Date" />
                            <script type="text/javascript">takeLeaveStartDate.min=new Date().toISOString().split("T")[0];</script>
                            <td th:if="${#fields.hasErrors('startDate')}"
                                th:errors="*{startDate}"></td>
                        </div>

                        <div class="form-group">
                            <label> End Date : </label>
                            <input type="date" id="takeLeaveEndDate" name= endDate th:field="*{endDate}" class="form-control" placeholder="Choose Start Date"/>
                            <script type="text/javascript">takeLeaveEndDate.min=new Date().toISOString().split("T")[0];</script>
                            <td th:if="${#fields.hasErrors('endDate')}"
                                th:errors="*{endDate}"></td>
                        </div>

                        <div class="form-group">
                        <lable>Leave Type :</lable>
                        <select th:field="*{leaveType}" class="form-control" > 
                            <option value="ANNUAL" th:text="ANNUAL"></option>
                            <option value="MEDICAL" th:text="MEDICAL"></option>
                            <option value="COMPENSATION" th:text="COMPENSATION"></option>
                          </select>
                        </div> 

                        <div class="form-group">
                            <label> Reason : </label>
                            <textarea lass="form-control" name= reason th:field="*{reason}">Please Enter Your Reason</textarea>
                            <td th:if="${#fields.hasErrors('reason')}"
                                th:errors="*{reason}"></td>
                        </div>

                        <div class="box-footer">
                          <button type="submit" class = "btn btn-primary btn-sm">Submit</button>
                          <button type="reset" class = "btn btn-primary btn-sm">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <div th:replace="fragments/layout.html :: footer" />

</body>



</html>

