<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout.html :: html_head" />
<style>

    #main {
      display: flex;
      justify-content: center;
      padding-top: 2%;
    }
      </style>


<body onload="set_time()">
    <div th:replace="fragments/layout.html :: header" />
    <div th:replace="fragments/layout.html :: menu" />
    
    <div class = "container">
        <div class = "row">
            <div class = "col-lg-6 col-sm-6 container justify-content-center card">
                
                <div id="main">
                    <h4>Edit Compensation Claim Form</h4>
                </div>
    
                <table class = "table4">
        <form action="#" th:action="@{/staff/compensation/edit/{id}(id=${compensation.compensationLeaveId})}"
            th:object="${compensation}" method="post">
            
            <tr>
                <th>Request Id</th>
                <td><input type="text" name= compensationLeaveId th:value="*{compensationLeaveId}" class="form-control" readonly/></td>
            </tr>

            <tr>
                <th>OT Start Time</th>
                <td><input type="datetime-local" th:field="*{OTstartTime}" /></td>
                
            </tr>

            <tr>
                <td></td>
                <td style='color:red' th:if="${#fields.hasErrors('OTstartTime')}" th:errors="*{OTstartTime}"></td>

            </tr>

            <tr>
                <th>OT End Time</th>
                <td><input type="datetime-local" th:field="*{OTendTime}" /></td>
                
            </tr>

            <tr>
                <td></td>
                <td style='color:red' th:if="${#fields.hasErrors('OTendTime')}" th:errors="*{OTendTime}"></td>
                
            </tr>

            <tr>
                <th>Description</th>
                <td><textarea maxlength="200" type="uText" th:field="*{description}" placeholder="Please write your description here"/></textarea>
                
            </tr>

            <tr>
                <td></td>
                <td style='color:red' th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></td>
            </tr>
            
            <tr>
                <td></td>
                <td><button type="submit">Update</button></td>
            </tr>
            <tr>
                <td></td>
            </tr>
            
            
        </table>

        <br>
        </br>

        <div style="text-align: center;">
            <button type="submit" value="Back" onclick="history.back()">Back</button>
        </div>

    </form>
</body>
</html>
