<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout.html :: html_head" />
<body onload="set_time()">
    <div th:replace="fragments/layout.html :: header" />
    <div th:replace="fragments/layout.html :: menu" />
    
    <div class = "container">
        <div class = "row">
            <div class = "col-lg-6 col-sm-6 container justify-content-center card">
                <h2>Edit Leave Application Form</h2>
                <div class = "card-body">
                    <form th:action="@{/staff/leave/edit/{id}(id=${leave.leaveId})}" th:object="${leave}" method="post">
                        
                        <div class="form-group">
                            <label> Leave ID : </label>
                            <input type="text" name= leaveId th:value="*{leaveId}" class="form-control" readonly/>
                        </div>

                        <div class="form-group">
                            <label> Start Date : </label>
                            <input type="date" id="editLeaveStartDate" name= startDate th:field="*{startDate}" class="form-control" placeholder="Choose Start Date" />
                            <script type="text/javascript">editLeaveStartDate.min=new Date().toISOString().split("T")[0];</script>
                            <span th:if="${#fields.hasErrors('startDate')}" 
                            th:errors="*{startDate}"></span>
                        </div>

                        <div class="form-group">
                            <label> End Date : </label>
                            <input type="date" id="editLeaveEndDate" name= endDate th:field="*{endDate}" class="form-control" placeholder="Choose Start Date"/>
                            <!-- <script type="text/javascript">editLeaveEndDate.min=new Date().toISOString().split("T")[0];</script> -->
                            <span th:if="${#fields.hasErrors('endDate')}"
                            th:errors="*{endDate}"></span>
                        </div>

                        <div class="form-group">
                            <lable>Leave Type :</lable>
                            <select th:field="*{leaveType}" class="form-control" > 
                                <option value="ANNUAL" th:text="ANNUAL"></option>
                                <option value="MEDICAL" th:text="MEDICAL"></option>
                                <option value="COMPENSATION" th:text="COMPENSATION"></option>
                            </select>
                        </div>             
                        
                        <div class="form-group">                      
                            <label> Reason: </label>
                            <textarea th:field="*{reason}" rows= "5" cols="40" class="form-control"></textarea>
                            <span th:if="${#fields.hasErrors('reason')}"
                            th:errors="*{reason}" ></span>
                        </div>

                        <div class="box-footer">
                          <button type="submit" class = "btn btn-primary btn-sm">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <script>
        var myDate = document.getElementById('editLeaveStartDate');
        function set_time(){
            // myDate2.valueAsDate = myDate;
            document.getElementById("editLeaveEndDate").setAttribute("min",myDate.value);
        }
        
        myDate.onchange = function(){
            var x = this.value;
          document.getElementById("editLeaveEndDate").setAttribute("min", x);
        }
    </script>

    <div th:replace="fragments/layout.html :: footer" />
</body>
</html>