<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: html_head" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body onload="openView('view-leave')">
    <div th:replace="fragments/layout.html :: header" />
    <div th:replace="fragments/layout.html :: menu" />


    <div class = "tabinator">
        <input type = "radio" id = "tab1" name = "tabs" checked>
        <label for = "tab1">Leave Type List</label>
        <label for = "tab2"><a th:href="@{/admin/leavetype/create}">Apply Leave Type</span></a></label>
        <label for = "tab3"><a th:href="@{/admin/leavetype/export/csv}">Generate Report</span></a></label>
        <div id = "content1">
          <div>
            <h4>Leave Type List</h4>
        </div>

  <div th:if="${not #lists.isEmpty(leaveType)}">

    <table class="table1">
      <thead>
        <tr class="listHeading">
          <th><span th:text="#{fieldLabel.leaveType}"></span></th>
          <th><span th:text="#{fieldLabel.leavePeriod}"></span></th>
          <th><span th:text="#{fieldLabel.description}"></span></th>
          <th><span>Action</span></th>
          
        </tr>
      </thead>
      <tbody>

        <tr th:each="leavetype : ${leaveType}">
          <td th:text="${leavetype.leaveTypeName}">LeaveTypeName</td>
          <td th:text="${leavetype.leavePeriod}">LeavePeriod</td>
          <td th:text="${leavetype.description}">Description</td>

          <td><a th:href="@{/admin/leavetype/edit/}+${leavetype.leaveTypeName}"><i class="fa fa-pencil" style="font-size:18px"></i></span></a>
          <a th:href="@{/admin/leavetype/delete/}+${leavetype.leaveTypeName}"><i class="fa fa-trash-o" style="font-size:18px"></i></span></a>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>