<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: html_head" />
<body>
    <div th:replace="fragments/layout.html :: header" />
    <div th:replace="fragments/layout.html :: menu" />
    <h3>Login</h3>
    <form action="#" th:object="${user}" th:action="@{/login}" method="post">
        <table class="framed" th:object="${user}">
            <tr>
                <td><span th:text="#{fieldLabel.username}">Username</span></td>
                <td><input type="text" th:field="*{username}"></td>
                <td><span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span></td>
            </tr>
            <tr>
                <td><span th:text="#{fieldLabel.password}">Password</span></td>
                <td><input type="text" th:field="*{password}"></td>
                <td><span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" />
                    <input type="reset" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2">
                    <!-- for login message -->
                    <span th:if="${loginMessage != null}" th:text="${loginMessage}"></span>
                </td>
            </tr>
        </table>
    </form>




    <div th:replace="fragments/layout.html :: footer" />
</body>
</html>