<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout.html :: html_head" />

<style>

    #main {
      display: flex;
      justify-content: center;
      padding-top: 2%;
    }
      </style>
    
<body>
    <div th:replace="fragments/layout.html :: header" />
    <div th:replace="fragments/layout.html :: menu" />

    <h5><b>Outdated Leave</b></h5>
        <h5>You can no longer edit or cancel this leave as it is already outdated.</h5>

    <div style="text-align: center;">
        <button type="submit" value="Back" onclick="history.back()">Back</button>
    </div>

    <div th:replace="fragments/layout.html :: footer" />
</body>
</html>