<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout.html :: html_head" />
<body>
    <div th:replace="fragments/layout.html :: header" />
    <div th:replace="fragments/layout.html :: menu" />
    <h1>Out of Leave Balance</h1>
    <p>You don't have enough balance leaves for this duration. Please resubmit with your available leave balance.</p>

    <form>
        <input type="button" value="Go Back" onclick="history.back()">
    </form>

    <div th:replace="fragments/layout.html :: footer" />
</body>
</html>