<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<title>Add User</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h2>Add User</h2>
		<hr/>
		<form th:action="@{/admin/user/create}" th:object="${user}" method="POST">
			<input type="text" th:field="*{username}" class="form-control col-4 mb-4" placeholder="Enter UserName" />
            <span th:if="${#fields.hasErrors('username')}"
            th:errors="*{username}"></span>
			<input type="text" th:field="*{password}" class="form-control col-4 mb-4" placeholder="Enter Password" />
            <span th:if="${#fields.hasErrors('password')}"
            th:errors="*{password}"></span>
			<input type="date" th:field="*{joinDate}" class="form-control col-4 mb-4" placeholder="Select JoinDate" />
            <span th:if="${#fields.hasErrors('joinDate')}"
            th:errors="*{joinDate}"></span>
            <label th:for="*{employee}">Emp: </label>
            <select th:field="*{employee}">
                <option th:each="emp : ${eidlist}" th:value="${emp.employeeId}" th:text="${emp.employeeId}">
                  selectOption</option>
              </select>
              <div></div>
              <label for="roles">User roles (multiple select):</label>
            <select size="2" multiple="multiple" name="roleSet" id="roleSet">
              <option th:each="role:${roles}" th:value="${role.roleId}" th:text="${role.roleName}">Roles</option>
            </select>

            <br/>
			<button class="btn btn-primary" type="submit">Save</button>
			<button class="btn btn-dangerous" type="reset">Reset</button>
			<input type="hidden" th:field="*{userId}"/>
		</form>
		<hr/>
		<a th:href="@{/admin/user/list}">Back To List</a>
	</div>
</body>
</html>
