<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout.html :: html_head" />
<div th:replace="fragments/layout.html :: menu" />
<style>

    #main {
      display: flex;
      justify-content: center;
      padding-top: 2%;
    }
</style>
    <div id="main">
    <h4>Add User</h4>
    </div>
                
    <table class = "table4">
		<form th:action="@{/admin/user/create}" th:object="${user}" method="POST">
      <tr>
        <th>Username</th>
			<td><input type="text" th:field="*{username}" class="form-control col-4 mb-4" placeholder="Enter Username" /></td>
      
      </tr>
      <tr>
        <td></td>
        <td style='color:red'>
          <span th:if="${#fields.hasErrors('username')}"
          th:errors="*{username}"></span>
        </td>
      </tr>

        <th>Password</th>
        <td><input type="password" th:field="*{password}" class="form-control col-4 mb-4" placeholder="Enter Password" /></td>
        
      </tr>
      <tr>
        <td></td>
        <td style='color:red'>
          <span th:if="${#fields.hasErrors('password')}"
          th:errors="*{password}"></span>
        </td>
      </tr>
      <tr>
        <th>Join Date</th>
			<td><input type="date" th:field="*{joinDate}" class="form-control col-4 mb-4" placeholder="Select JoinDate" /></td>
     </tr>
     <tr>
      <td></td>
      <td style='color:red'>
        <span th:if="${#fields.hasErrors('joinDate')}"
        th:errors="*{joinDate}"></span>
      </td>
    </tr>
      <tr>
        <th>Employee Id</th>
            <td><select th:field="*{employee}">
                <option th:each="emp : ${eidlist}" th:value="${emp.employeeId}" th:text="${emp.employeeId}">
                  selectOption</option>
              </select></td>
      </tr>
      <th>User Roles (multiple selection)</th>
          <td><select size="3" multiple="multiple" name="roles" id="roles">
              <option th:each="role:${roles}" th:value="${role.roleId}" th:text="${role.roleName}">Roles</option>
            </select></td>

            <tr>
              <td></td><td><button type="submit">Submit</button></td>
          </tr>
		</form>

  </table>

  <br>

</br>

      <div style="text-align: center;">
          <button type="submit" value="Back" onclick="history.back()">Back</button>
      </div>
  
 

  <div th:replace="fragments/layout.html :: footer" />
</body>
</html>

