<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: html_head" />
<body>
    <div th:replace="fragments/layout.html :: header" />
    <div th:replace="fragments/layout.html :: menu" />
    <h3>Personal Leave Detail</h3>
    
        <table class="framed" >
            <tr>
                <th>Leave Id</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Leave Type</th>
                <th>Reason</th>
                <th>Status</th>
                <th>Manage Leave</th>
            </tr>
            <tr th:each = "leave : ${leaves}" >  
                <td th:utext = "${leave.leaveId}">Id</td>
                <td th:utext = "${leave.startDate}">Start Date</td>
                <td th:utext = "${leave.endDate}">End Date</td>
                <td th:utext = "${leave.leaveType}">Leave Type</td>
                <td th:utext = "${leave.reason}">Reason</td>
                <td th:utext = "${leave.status}">Status</td>
                
            <td>
                <a th:href="@{/staff/edit/{id}(id=${leave.leaveId})}" class="btn btn-primary btn-sm mb-1">Update</a>
                <a th:href="@{/staff/delete/{id}(id=${leave.leaveId})}" class="btn btn-danger btn-sm mb-1">Cancel</a>
            </td>

            </tr>
            
        </table>
        <br><br>
        <h4><a th:href="@{/staff/new }"> >>>>> Take Leave <<<<< </a></h4>
        <br><br>

        <h3>Leave Claiming History </h3>
    
        <table class="framed" >
            <tr>
                <th>Claim Id</th>
                <th>OT Start Date</th>
                <th>OT End Date</th>
                <th>Status</th>
            </tr>
            <tr th:each = "cr : ${crReq}" >  
                <td th:utext = "${cr.compensationLeaveId}">Id</td>
                <td th:utext = "${cr.OTstartTime}">Start Date</td>
                <td th:utext = "${cr.OTendTime}">End Date</td>
                <td th:utext = "${cr.status}">Status</td>
            </tr>
            
        </table>

        <br><br>
        <h4><a th:href="@{/staff/claimLeave }"> >>>>> Calim compensation Leave <<<<< </a></h4>
        <br><br>
    




    <div th:replace="fragments/layout.html :: footer" />
</body>
</html>